@tailwind base;
@tailwind components;
@tailwind utilities;

.move-in {
  animation: fade forwards 0.5s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  5% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slow-motion {  
  transition-delay: .3s;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.fading-slow-mo {
  animation: fade-slow forwards 2.8s ease-in;
}

@keyframes fade-slow {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  5% {
    opacity: 0;
  }

 
  70% {
    opacity: 0.50;
    transform: translateX(0);
  }

  100% {
    opacity: 1;

  }
}